{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img width="24px" height="24px" src="/svg/header__back.svg" alt="">
        </button>
        <button class="button">
            <img width="24px" height="24px" src="/img/header__avatar.png" alt="">
        </button>    
    </header> --}}

    {{!-- <h1 class="title">Коммьюніті</h1> --}}

    {{!-- <div class="tab">
        <div class="change" >База знань</div>
        <div class="change change--active">Інформація</div>
    </div> --}}

    {{!-- <main class="main__content" >
       
            <img src="/img/image-1.png" alt="">
             <h3 class="main__title">Що таке база знань?</h3>
             <p class="main__info">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом решения предыдущих задач. </p>
             <button class="main__link">Перейти до ком'юніті у Телеграм</button>
        
    </main> --}}

</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}